*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*without box-sizing:  border bo the exact width: 

	border and padding are added on the top of the width 

	2px left border+ 50px left padding + 150 width + 50px right padding + 2px right border =254px*/

}

#box1{
	height: 150px;
	width:  150px;
	padding: 50px;
	border:  2px solid black;
	background-color: orange;
	margin-right: 30px;
	display: inline-block;
	vertical-align: top;
}
#box2{
	height: 150px;
	width:  150px;
	padding: 50px;
	border:  2px solid red;
	background-color: yellow;
	margin-right: 30px;
	display: inline-block;
}

.sample{
	height: 150px;
	width: 150px;
	border:  2px solid blue;
	background-color: green;
}