*{
	margin: 0;
	padding:  0;
	box-sizing: border-box;
}


body {
	font-family: 'Noto Serif Display', serif;
	background-color: #040605;
	color: white;
}

nav{
	padding: 0.8rem;
	margin-bottom: 2rem;

}
nav > ul{
	list-style-type: none;text-align: right;
	padding-right: 10px;
}
nav > ul > li{
	display: inline;
	padding: 5px;
	font-size: 20px;
}

#intro-section{
	width: 100%;
	text-align: center;
}
#intro-section > div > img{
	width: 500px;
	height: 500px;
	border-radius: 50%;
	padding: 20px;
	padding-right: 0px;
	margin-left:3rem;
}
#intro-section div{
	display: inline-block;
	vertical-align: top;
}
#intro-description{
	display: inline-block;
	width: 500px;
	margin-top: 200px;
	margin-left: 100px;
	margin-right: auto;
}
#intro-section > h2{
	text-align: right;
}
#intro-section button{
	border-radius:50px ;
	padding: 10px;
	margin-top: 5%;
	margin-right: auto;
	margin-left: 10rem;
	background-color: #FF4446;
	color: white;
	font-family: 'Noto Serif Display', serif;
}

.card{
	width: 210px;
	border: 1px solid white;
	padding-top: 50px;
	padding-bottom: 0px;
	border-radius: 20px;
	display: inline-block;
	margin: 10px;
}
.card img {
	width: 200px;
	margin: 5px;
}

.card h3, .card p{
	margin-left: 10px;
}

.card button{
	background-color: #05D867;
	padding: 5px;
	margin-top: 10px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	margin-bottom: 0px;
	width: 100%;
	color: white;
}
#product-section{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 200px;

}

#pre-footer{
	background-color: #2A2A2A;
	padding-left: 10px;
}
#pre-footer > div {
 	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 15%;
	margin-left: 0.01rem;
	margin-right: 0.01rem;
	margin-top: 5px;
	
}
footer{
	font-family: "arial",sans-serif;
	font-size: 11px;
}




